* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/Projet-eo-fr -text
/README -text
/apertium-eo-fr.eo-fr.dix -text
/apertium-eo-fr.eo.dix -text
/apertium-eo-fr.fr-eo.t1x -text
/apertium-eo-fr.fr-eo.t2x -text
/apertium-eo-fr.fr-eo.t3x -text
/apertium-eo-fr.fr.dix -text
/autogen.sh -text
/compil_fr-eo -text
/configure.ac -text
/cross-model.xml -text
/fr-eo.prob -text svneol=unset#unset
/modes.xml -text
/retraduku.sh -text
tekstaro/fr.crp.txt -text
