* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/Projet-eo-fr -text
/README -text
/apertium-eo-fr.eo-fr.dix -text
/apertium-eo-fr.eo.dix -text
/apertium-eo-fr.fr-eo.t1x -text
/apertium-eo-fr.fr-eo.t2x -text
/apertium-eo-fr.fr-eo.t3x -text
/apertium-eo-fr.fr.dix -text
/autogen.sh -text
/compil_fr-eo -text
/configure.ac -text
/cross-model.xml -text
dix/apertium-eo-fr.eo-crossed.dix.gz -text
dix/apertium-eo-fr.eo-fr-crossed.dix.gz -text
dix/apertium-eo-fr.fr-crossed.dix.gz -text
dix/consistent-bilAB.dix.gz -text
dix/consistent-bilBC.dix.gz -text
dix/consistent-monA.dix.gz -text
dix/not-common-apertium-eo-es.eo.dix.gz -text
dix/not-common-apertium-fr-es.fr.metadix.gz -text
dix/not-common-eo-es.eo-es.dixapertium-es-eo.es-eo.dix.gz -text
dix/not-common-fr-es.fr-es.dixapertium-es-fr.es-fr.dix.gz -text
dix/patterns-not-detected.xml.gz -text
/fr-eo.prob -text svneol=unset#unset
/modes.xml -text
/retraduku.sh -text
tekstaro/fr.crp.txt -text
