* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/Projet-eo-fr -text
/README -text
/apertium-eo-fr.eo-fr.dix -text
/apertium-eo-fr.eo.dix -text
/apertium-eo-fr.fr-eo.antaux1_t2x -text
/apertium-eo-fr.fr-eo.antaux2_t2x -text
/apertium-eo-fr.fr-eo.antaux3_t2x -text
/apertium-eo-fr.fr-eo.antaux4_t2x -text
/apertium-eo-fr.fr-eo.post_t2x -text
/apertium-eo-fr.fr-eo.t1x -text
/apertium-eo-fr.fr-eo.t2x -text
/apertium-eo-fr.fr-eo.t3x -text
/apertium-eo-fr.fr.acx -text
/apertium-eo-fr.fr.dix -text
/apertium-eo-fr.fr.tsx -text
/autogen.sh -text
/compil_fr-eo -text
/configure.ac -text
/cross-model.xml -text
dix/apertium-eo-fr.eo-crossed.dix.gz -text
dix/apertium-eo-fr.eo-fr-crossed.dix.gz -text
dix/apertium-eo-fr.fr-crossed.dix.gz -text
dix/consistent-bilAB.dix.gz -text
dix/consistent-bilBC.dix.gz -text
dix/consistent-monA.dix.gz -text
dix/not-common-apertium-eo-es.eo.dix.gz -text
dix/not-common-apertium-fr-es.fr.metadix.gz -text
dix/not-common-eo-es.eo-es.dixapertium-es-eo.es-eo.dix.gz -text
dix/not-common-fr-es.fr-es.dixapertium-es-fr.es-fr.dix.gz -text
dix/patterns-not-detected.xml.gz -text
/eo-pn.dat -text
/fr-eo-unsupervised.make -text
/fr-eo.prob -text svneol=unset#unset
/fr-pn.dat -text
/inconsistency.sh -text
/komparu.sh -text
/kompletigaj-reguloj-eo.txt -text
/kompletigu_eo_dix.sh -text
/krei_monodix.pl -text
lexic/dxexpartements.txt -text
lexic/dxexpartements.txt.eo-fr.dix -text
lexic/dxexpartements.txt.eo.dix -text
lexic/dxexpartements.txt.fr.dix -text
lexic/entreprises.txt -text
lexic/gentilxexs1.txt -text
lexic/gentilxexs2.txt -text
lexic/gentilxexs3.txt -text
lexic/gentilxexs4.txt -text
lexic/gentilxexs5.txt -text
lexic/klasi_verbojn.pl -text
lexic/klasi_verbojn_bidix.pl -text
lexic/krei_abraham.pl -text
lexic/krei_adv.pl -text
lexic/krei_loknomo.pl -text
lexic/krei_marie.pl -text
lexic/krei_npal.pl -text
lexic/krei_smith.pl -text
lexic/noms_de_famille.dix -text
lexic/noms_de_famille.srt -text
lexic/noms_de_famille.txt -text
lexic/noms_de_famille.txt.bck -text
lexic/np_al.txt.eo-fr.dix -text
lexic/np_al.txt.eo.dix -text
lexic/np_al.txt.fr.dix -text
lexic/prenoms-f.dix -text
lexic/prenoms-f.txt -text
lexic/prenoms-m.dix -text
lexic/prenoms-m.txt -text
lexic/trans_kis_amb.txt -text
lexic/trans_kis_jes.txt -text
lexic/trans_kis_ne.txt -text
lexic/transitivaj.txt -text
lexic/transitivaj_ambaux.txt -text
lexic/transitivaj_ne.txt -text
lexic/villes.txt -text
lexic/villes.txt.eo-fr.dix -text
lexic/villes.txt.eo.dix -text
lexic/villes.txt.fr.dix -text
lexic/villes_belgique.txt -text
lexic/villes_canada.txt -text
lexic/villes_suisse.txt -text
/mankas_fr.sh -text
/modes.xml -text
/multigen_ino__n.sh -text
/multigen_o__loc.sh -text
/multigen_o__n.sh -text
/multigen_oj__loc.sh -text
/nova_versio.sh -text
/outstanding-tests.sh -text
/regression-tests.sh -text
/retraduku.sh -text
tekstaro/fr.crp.txt -text
/testvoc_fr-eo.sh -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
